.header {
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
  
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  
    &__logo {
      width: 210px;
      height: 68px;
  
      @media screen and (max-width: 768px) {
        width: 145px;
        height: 46px;
      }
    }
  
    &__nav {
      display: flex;
      gap: 48px;
      text-align: right;
      line-height: 142.6%;
  
      a {
        text-decoration: none;
        color: black;
  
        &:hover,
        &.active {
          text-decoration-line: underline;
        }
      }
  
      @media screen and (max-width: 768px) {
        gap: 24px;
      }
    }
  
  }