.footer{
    height: 209px;
    background-color: black;
    text-align: center;
    margin-top:30px;

}

.footerLogo{
    margin-top:60px;
}

.footerP{
    color:white;
    font-family:'Montserrat';
    font-size:20px;
}

/*RESPONSIVE MOBILE*/
@media screen and (max-width : 700px){

    .footer{
        margin-top:20px;
    }
    .footerP{
        font-size:14px;
        margin-top:0;
    }

    .footerSpan{
        display:block;
    }
}