.ficheLogementTotal{
    color: #FF6060;
    font-family: 'Montserrat';
}

.titreLogement{
    display: flex;
}
.descriptionLogement{
    display: flex;
}

li {
    list-style : none;
}


/*RESPONSIVE MOBILE*/
@media screen and (max-width : 700px){

.titreLogement{
    flex-direction: column;
}

.descriptionLogement{
    flex-direction: column;
}

}